* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;/* makes the page scroll smoothly when u click one of the links */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6; /* adds space between lines to make it easier to read*/
    color: #333;
    background-color: #ffffff;
    font-style: italic; 
}

header {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1000;/* header always on top*/
    width: 100%;
    position: fixed;/* tg3d at the top when scrolling*/ 
}

footer{
    background-color: #a18cd1;
    color: white;
    text-align: center;
    padding: 2px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer p{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 400;
}
.footer{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;/*tgl3 underline men ga3 links*/
}

section {
    padding: 80px 0; /* 80px top bottom , 0 left right*/
}

h1, h2, h3 {
    margin-bottom: 20px;
    color: #312c4c;
}

p {
    margin-bottom: 15px;
    color: rgb(78, 71, 118);
    padding: 20px 20px;

}

.btn {
    display: inline-block;/*  */
    background: #312c4c86;
    color: #312c4c;
    padding: 12px 25px;
    border-radius: 30px;/* makes it rounded */
    transition: all 0.3s ease; /* */
    cursor: pointer;/*hadik lyed ta3 la souris trodha pointer*/
    border: 2px solid #312c4c;
    font-weight: 630;/* text yweli bold */
}

.btn:hover {
    background: rgba(49, 44, 76, 0.343);
    transform: translateY(-2px);/* it makes the button moves up chwiya */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #312c4cff;
}

nav {
    display: flex;/* tstf kolchi li f nav bar in a line  */
    justify-content: space-between; /* dir space between logo w menu */
    align-items: center;
    position: relative;
    padding: 20px 20px;
}

.nav-links {
    display: flex;/* tkhli nav links yjo 7da ba3d horizontally */
    list-style: none; /* tgl3 dok les point li ykono fl 'ul'  */
}

.nav-links a {
    color: #312c4cff;
    font-weight: 700;
    margin-right: 20px;
}

.nav-links a:hover {
    color: rgb(58, 56, 56);/*when hovering the color becomes dark gray*/
}


#home {
    height: 120vh;
    display: flex;/* centered vertically*/
    align-items: center;
    background: rgba(146, 140, 178, 0.316);
    padding-top: 100px 20px 20px 20px;
}


.entrance_text {
    flex: 1;
    min-width: 0;
}

.entrance_text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin: 0;
}

.entrance_text p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #3c3252;
}

.entrance_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px;
    background-color: #e2dff1;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    gap: 40px;
}

.entrance_content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.entrance_content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #3c3252;
}

.entrance_content img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* trodha circle shape*/
    object-fit: cover;
    filter: grayscale(50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    margin-top: 40px;
}

#about {
    background: white;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; 
}

.about-img {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    filter: grayscale(50%);
    box-shadow: 0 0 25px 10px #8e2de2;
    animation: glow 2s infinite alternate;
    flex-shrink: 0;
}

.about-text {
    flex: auto;
    background-color: rgba(227, 223, 241, 0.5);
    border-left: 4px solid #8e2de2;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    margin: 25px;
    position: relative;
    overflow: hidden;
    transition: all 0.3 ease;
}

.about-text h3{
    color: #312c4c;
    margin-bottom: 15px;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

.about-text h3:after{ /* adds an underline under about titles*/
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80px;
    height: 2px;
    background:  #8e2de2;
}


#projects {
    background: #f5f5f5;
    background-color: rgba(227, 223, 241, 0.5);
    border-left: 4px solid #8e2de2;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    margin: 25px;
    position: relative;
    overflow: hidden;
    transition: all 0.3 ease;
}

#projects h2{
    color: #312c4c;
    margin-bottom: 15px;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

#projects h2:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100px;
    height: 2px;
    background:  #8e2de2;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.project-card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
}
.list{
    list-style: none;
}
.project-info {
    padding: 20px;
}

h4{
    margin-top: 20px;
    color: #312c4c;
}

.social-links {
    display: flex;
    justify-content: left;
    list-style: none;
    margin: 20px 0;
}

.social-links li {
    margin: 0 15px;
}

.social-links a {
    color: #312c4c;
    font-size: 24px;
}

.social-links a:hover {
    color: #312c4c53;
}


.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #312c4c;
    margin-top: 5px;
}


.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #312c4c;
    color: white;
    border-radius: 50%;
    padding: 10px 25px;
    display: none;/* l button mrhich kayna at first (hidden)*/
    font-size: 26px;
}

.scrollTop:hover {
    background: rgba(49, 44, 76, 0.8);
}

.scrollTop.show {
    display: block;/* l button tban min .show class is added*/
}

.goals{
    flex: auto;
    background-color: rgba(227, 223, 241, 0.5);
    border-left: 4px solid #8e2de2;
    padding: 20px;
    border-radius: 0 8px 8px 0;
    margin: 25px;
    position: relative;
    overflow: hidden;
    transition: all 0.3 ease;
}
.goals h3{
    color: #312c4c;
    margin-bottom: 15px;
    font-size: 1.3rem;
    position: relative;
    display: inline-block;
}

.goals h3:after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 80px;
    height: 2px;
    background:  #8e2de2;
}

.goals p{
    color: #5e5c7a;
    line-height: 1.7;
    margin-bottom: 0;
}

.aniText{
    animation: slideIn 1s ease-out forwards;

}
/* animation for lketba bch thwd mlfog l ta7t */
@keyframes slideIn{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

/* animation tzid glow f tswira */
@keyframes glow {
    from {
        box-shadow: 0 0 10px 2px #a18cd1;
    }
    to {
        box-shadow: 0 0 30px 10px #a18cd1;
    }
}
/* ytbdl f small screens  */
@media (max-width: 640px) {
    footer p{
        font-size: 16px;
        font-weight: 400;
    }
    .entrance_content{
        flex-direction: column;
        text-align: center;
        padding: 30px;
        gap: 30px;
    }
    .entrance_content img {
        width: 140px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    .entrance_text{
        text-align: center;
        font-size: medium;
    }
    
    .btn{
        margin: 0 auto;
    }

    .logo {
        text-align: left; 
        font-size: 28px;
    }

    .menu {
        display: block;
    }

    .about-content {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-links {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        position: absolute;
        top: 78.3px;
        width: 100%;
        text-align: center;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: max-height 0.4s ease-in-out;
        z-index: 1100;
    }

    .nav-links.active {
        max-height: 500%;
        display: flex;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links a {
        font-size: 18px;
        color: #312c4c;
    }

    .nav-links a:hover {
        color: #5e5c7a;
    }
    #home {
        height: 140vh;
        display: flex;
        align-items: center;
        background: rgba(146, 140, 178, 0.316);
        padding-top: 100px 20px 20px 20px;
    }
    
}
